* {
	box-sizing: border-box;
	font-family: IRANSans !important;
}
  
  html,
  body {
  
	padding: 0;
	background: url("/static/img/backgroud.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	  font-family: IRANSans !important;
	  font-weight: 300;
	  direction: rtl;
	  margin: 0;
}

.glassy {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.4);
}
  
:root {
	--text-purple: #311B92;
	--text-white: #FFFFFF;
	--text-semi-white: #e2e2e2;
}